{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <form method="GET">
        <div class="input-group input-group-sm mb-3">
            <input class="form-control" name="q" type="search" />
        </div>
    </form>
    <br>
    <div class="container mt-4">
    {% for product in products %}
        {{product.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <a href="{% url 'add_to_cart' product.id %}">add to cart</a>
        <hr>

    {% endfor %}
    </div>
</div>
{% endblock content %}
